
.social-image{
    width: 40px;
}
.nav-item{
    font-size: 1.3rem;
    color: black !important;
}

.dark-red{
    background-color: brown !important;
    color: aliceblue!important;
}

.navbar-nav>.nav-item{
    width: 40%;
}

.social-icon{
    width: 6%!important;
}

.first-social-icon{
    margin-left: 2%;
}

.navbar-nav{
    height:fit-content;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.meet-dennis{
    margin-left: 1%;
}